*{
    box-sizing: border-box;
}
.body{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.aa{
    height: 20px;
}
.cont0{
    margin-left: 20px;
    /* margin-top: -90px; */
}
.col{
    margin-top: -90px;
}
.row{
    padding-top: 40px;
}
.c{
   padding-left: 50px;
}
.card{
    margin-left: 20px;
}
.col-auto{
    margin-left: 5px;
    margin-top: 30px;
}
.mb-12{
    margin-left: 10px;
}
.col-md-12{
    margin-left: 20px;
}
.nj{
    margin-left: 25px;
}
.sub{
    align-items: center;
    margin: 10px;
}
